.appbar {
  background-color: white;
  nav {
    a {
      color: #222957;
      text-decoration: none;
      font-weight: 700;
    }
  }
  .btnNav a {
    background: linear-gradient(90deg, #485bd4, #222957);
    color: white;
    font-weight: 700;
  }
}

.contact {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 3;
  background: linear-gradient(90deg, #485bd4, #222957);
  width: 55px;
  height: 55px;
  border-radius: 50px;
  overflow: hidden;
  float: left;
  transition: 0.3s ease;

  a {
    width: 55px;
    padding-top: 12px;
    padding-right: 15px;
    background-color: transparent;
    border: transparent;
  }
}

.cardsHome {
  background-image: url("../public/fundo.png");
  padding-bottom: 40px;
  .cardService {
    background-color: #222957;
    color: white;
  }
  .btnBlue {
    background: #222957;
    color: white;
    font-weight: 700;
  }

  .btnBlue:hover {
    background-color: white;
    color: #222957;
    border: solid #222957 1px;
  }
}

.aboutHome {
  background-color: #222957;

  .btnWhite {
    background-color: white;
    color: #222957;
    font-weight: 600;
  }

  .btnWhite:hover {
    background-color: #222957;
    color: white;
    border: solid white 1px;
  }
}

.footer {
  background-color: #222957;
}

.pageContact {
  background-color:#E6E6E6;
}

.curriculum {
  .curriculumTitle {
    color: #222957;
    font-weight: 600;
    text-align: center;
    font-size: 28px;
  }
  .curriculumIcon {
    font-size: 48px;
    color: #222957;
  }
}

.aboutPage {
  .textTitleAbout {
    color: #222957;
    font-weight: 600;
  }

  .textBodyAbout {
    text-align: justify;
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .curriculum {
    .curriculumList {
      font-size: 25px;
    }
  }

  .footer {
    .footerContainer {
      display: flex;
      align-items: center;
      img {
        width: 30%;
      }
    }
  }
  .aboutPage {
    .textTitleAbout {
      font-size: 28px;
    }
  }
}

@media screen and (max-width: 768px) {
  .curriculum {
    .curriculumList {
      font-size: 20px;
    }
  }
  .footer {
    .footerContainer img {
      width: 100%;
      padding-bottom: 20px;
    }
  }
  .aboutPage {
    .textTitleAbout {
      font-size: 22px;
    }
  }
}
